.main{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
.cards-wrapper{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.input-wrapper{
  display: flex;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:40px;
  margin-bottom:40px;
}

.input-wrapper .input{
  margin-right: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #0000ff;
  width: 180px;
}
.input-wrapper .input:focus{
  margin-right: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ff0000;
}

.input-wrapper .search-btn{
  padding: 10px;
  margin-right: 10px;
}

.input-wrapper .reset-btn{
  padding: 10px;
}

.main-top{
  width: 100%;
  margin-bottom: 40px;
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 576px) {
  .input-wrapper .input{
    width: 100%;
    max-width: 350px;
  }

}

@media (min-width: 1024px) {
  .main{
    padding-left: 0;
    padding-right: 0;
  }
}